<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh Sach </title>
</head>
<body>
<h1>Danh Sach San Pham</h1>
<form action="menu" method="post" >
    <label>Sản phẩm 1</label>
    <input type="checkbox" name="product" value="Sản Phẩm 1">
    <label>Sản phẩm 1</label>
    <input type="checkbox" name="product" value="Sản Phẩm 2">
    <label>Sản phẩm 1</label>
    <input type="checkbox" name="product" value="Sản Phẩm 3">
    <label>Sản phẩm 1</label>
    <input type="checkbox" name="product" value="Sản Phẩm 4">
    <label>Sản phẩm 1</label>
    <input type="checkbox" name="product" value="Sản Phẩm 5">
    <label>Sản phẩm 1</label>
    <input type="checkbox" name="product" value="Sản Phẩm 6">
</form>
</body>
</html>